.projetos-container {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient( 90deg, #02132c00, #040e2500);
    color: white;
}

/* Título */
.titulo-projetos {
    font-size: 27px;
    margin-bottom: 10px;
    font-weight: 600;
}

/* Subtítulo */
.subtitulo-projetos {
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 50px;
}

/* Grid de projetos */
.grid-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 35px;
    padding: 0 20px;
}

/* Card do projeto */
.card-projeto {
    background: #141b29;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 0 15px #00000055;
    transition: transform 0.3s ease;
}

.card-projeto:hover {
    transform: translateY(-6px);
}

/* Imagem */
.imagem-projeto {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

/* Conteúdo interno */
.conteudo-card {
    padding: 20px;
}

.titulo-card {
    font-size: 20px;
    margin-bottom: 10px;
}

.descricao-card {
    font-size: 15px;
    opacity: 0.8;
    margin-bottom: 20px;
}

/* Botão */
.btn-card {
    display: inline-block;
    background: #007bff;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    transition: background 0.3s ease;
}

.btn-card:hover {
    background: #005fcc;
}
